<h2><%= @user.username %>'s Profile</h2>

<h3><%= @user.username %>'s Goals</h3>
<ul>
  <% @user.goals.each do |goal| %>
    <% if logged_in? &&
          current_user.id == @user.id &&
          goal.private == true %>
      <li><%= goal.title %></li>
    <% elsif goal.private == false %>
      <li><%= goal.title %></li>
    <% end %>
  <% end %>
</ul>
