<h1>All Goals</h1>

<ul>
  <% @goals.each do |goal| %>
    <li><%= link_to goal.title, goal_url(goal) %></li>
    <br>
    <%= button_to "delete '#{goal.title}' goal",
                  goal_url(goal),
                  method: :delete %>
  <% end %>
</ul>
